.fade-in {
    opacity: 0;
    translate: 0 30px;
    animation: fade-in 1s 1.5s forwards;
}
@keyframes fade-in {
    to {
        opacity: 1;
        translate: 0;
    }
}

.view-fade-in {
    animation: view-fade-in linear;
    animation-timeline: view();
    opacity: 0;
}

@keyframes view-fade-in {
    50%,100% {
        opacity: 1;
        translate: 0;
    }
}

