<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="layout-1.css">
</head>
<body>
    <nav class="flex">
        <a href="#" class="nav-logo">Logo</a>
        <div class="nav-menu flex g-1 ml-auto">
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
            <a href="#" class="nav-link">Link</a>
        </div>
    </nav>
    <header class="w-100 relative">
        <img src="https://picsum.photos/id/40/1600/900" alt="" class="cover ratio-219">
        <div class="header-content absolute inset-0 m-auto flex g-1">
            <h1>HELLO</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, ipsam.
            </p>
            <a href="#">link</a>
        </div>
    </header>
    <section id="about" class="relative">
        <div class="container grid mx-auto grid-cols-3 g-2">
            <div class="item flex flex-col g-1">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam praesentium dicta voluptates, minima rem architecto pariatur laboriosam exercitationem voluptatem reprehenderit!
                </p>
                <a href="#" class='btn btn-red'>More</a>
            </div>
            <div class="item flex flex-col g-1">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam praesentium dicta voluptates, minima rem architecto pariatur laboriosam exercitationem voluptatem reprehenderit!
                </p>
                <a href="#" class='btn btn-red'>More</a>
            </div>
            <div class="item flex flex-col g-1">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam praesentium dicta voluptates, minima rem architecto pariatur laboriosam exercitationem voluptatem reprehenderit!
                </p>
                <a href="#" class='btn btn-red'>More</a>
            </div>
        </div>
    </section>
    <section id="blog" class="relative">
        <div class="container mx-auto grid grid-cols-4 g-2">
            <div class="item flex flex-col g-1">
                <div class="blog-img">
                    <img src="https://picsum.photos/id/21/800/600" class="cover ratio-43" alt="">
                </div>
                <div class="blog-content flex flex-col g-1">
                    <h3>title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis.
                    </p>
                    <a href="#" class="btn btn-blue">Link</a>
                </div>
            </div>
            <div class="item flex flex-col g-1">
                <div class="blog-img">
                    <img src="https://picsum.photos/id/21/800/600" class="cover ratio-43" alt="">
                </div>
                <div class="blog-content flex flex-col g-1">
                    <h3>title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis.
                    </p>
                    <a href="#" class="btn btn-blue">Link</a>
                </div>
            </div>
            <div class="item flex flex-col g-1">
                <div class="blog-img">
                    <img src="https://picsum.photos/id/21/800/600" class="cover ratio-43" alt="">
                </div>
                <div class="blog-content flex flex-col g-1">
                    <h3>title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis.
                    </p>
                    <a href="#" class="btn btn-blue">Link</a>
                </div>
            </div>
            <div class="item flex flex-col g-1">
                <div class="blog-img">
                    <img src="https://picsum.photos/id/21/800/600" class="cover ratio-43" alt="">
                </div>
                <div class="blog-content flex flex-col g-1">
                    <h3>title</h3>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, reiciendis.
                    </p>
                    <a href="#" class="btn btn-blue">Link</a>
                </div>
            </div>
        </div>
    </section>
    <section id="folio" class="relative">
        <div class="container mx-auto grid grid-cols-6 g-1">
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=1" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=2" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=3" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=4" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=5" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=6" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=7" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=8" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=9" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=10" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=11" class="cover ratio-43" alt="">
                </a>
            </div>
            <div>
                <a href="#">
                    <img src="https://picsum.photos/400/300?random=12" class="cover ratio-43" alt="">
                </a>
            </div>
        </div>
    </section>
    <section id="service">
        <div class="container grid grid-cols-2 mx-auto g-2">
            <div>
                <img src="https://picsum.photos/id/43/800/600" alt="" class="cover ratio-1">
            </div>
            <div class="service-content flex flex-col g-2">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minus quisquam beatae dolor veniam fugit. Porro natus provident dolor, corporis excepturi aspernatur ab dolores consectetur numquam ipsam nostrum cupiditate commodi!
                </p>
                <a href="#" class="btn btn-green">More</a>
            </div>
        </div>
        <div class="container grid grid-cols-2 mx-auto g-2">
            <div>
                <img src="https://picsum.photos/id/33/800/600" alt="" class="cover ratio-1">
            </div>
            <div class="service-content flex flex-col g-2">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minus quisquam beatae dolor veniam fugit. Porro natus provident dolor, corporis excepturi aspernatur ab dolores consectetur numquam ipsam nostrum cupiditate commodi!
                </p>
                <a href="#" class="btn btn-green">More</a>
            </div>
        </div>
        <div class="container grid grid-cols-2 mx-auto g-2">
            <div>
                <img src="https://picsum.photos/id/23/800/600" alt="" class="cover ratio-1">
            </div>
            <div class="service-content flex flex-col g-2">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minus quisquam beatae dolor veniam fugit. Porro natus provident dolor, corporis excepturi aspernatur ab dolores consectetur numquam ipsam nostrum cupiditate commodi!
                </p>
                <a href="#" class="btn btn-green">More</a>
            </div>
        </div>
        <div class="container grid grid-cols-2 mx-auto g-2">
            <div>
                <img src="https://picsum.photos/id/13/800/600" alt="" class="cover ratio-1">
            </div>
            <div class="service-content flex flex-col g-2">
                <h2>title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minus quisquam beatae dolor veniam fugit. Porro natus provident dolor, corporis excepturi aspernatur ab dolores consectetur numquam ipsam nostrum cupiditate commodi!
                </p>
                <a href="#" class="btn btn-green">More</a>
            </div>
        </div>

    </section>
</body>
</html>