@import url('https://fonts.googleapis.com/css2?family=Huninn&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
    --red: #ce0048;
    --orange:#f2c77c;
    --yellow:#fbed6c;
    --green:#a5d465;
    --blue:#5c99b1;
    --purple:#b089c6;
    --dark:#282828;
    --light:#e6e6e6;

    --clr-primary: #98A1BC;
    --clr-primary-dark: #555879;
    --clr-primary-light: #DED3C4;
    --clr-secondary: #F4EBD3;

    --spacing: 15px;

}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Nunito','Huninn';
}
a {
    text-decoration: none;
    color: #000;
}

img {
    width: 100%;
    display: block;
}

/* 
https://colorhunt.co/palette/5a827e84ae92b9d4aafaffca 
5A827E
84AE92
B9D4AA
FAFFCA
https://colorhunt.co/palette/55587998a1bcded3c4f4ebd3
*/
/* Nav */
nav {
    padding:25px var(--spacing);
    background-color: var(--red);
    a {
        color: var(--light);
        
    }
    .nav-link {
        transition: 30ms;
        &:hover{
            color: var(--yellow);
        }
    }
}
.g-0 {gap: calc(var(--spacing) * 0);}
.g-1 {gap: calc(var(--spacing) * 1);}
.g-2 {gap: calc(var(--spacing) * 2);}
.g-3 {gap: calc(var(--spacing) * 3);}
.flex {display: flex;}
.flex-row {flex-direction: row;}
.flex-col {flex-direction: column;}
.grid {display: grid;}
.ml-auto {margin-left: auto;}
.mr-auto {margin-right: auto;}
.mx-auto {margin-inline: auto;}
.mt-auto {margin-top: auto;}
.mb-auto {margin-bottom: auto;}
.my-auto {margin-block: auto;}
.m-auto{margin: auto;}
.cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.w-100 {width: 100%;}
.h-100 {height: 100%;}
.object-cover{object-fit: cover;}
.ratio-1{aspect-ratio: 1/1;}
.ratio-43{aspect-ratio: 4/3;}
.ratio-169{aspect-ratio: 16/9;}
.ratio-219{aspect-ratio: 21/9;}

.relative {position: relative;}
.absolute {position: absolute;}
.fixed {position: fixed;}
.sticky {position: sticky;}
.inset-0 {inset:0}

header {
    height: 100vh;
    clip-path: polygon(0 0 , 100% 0 , 100% calc(100% - 5vw), 50% 100% , 0 calc(100% - 5vw));
    position: relative;
    z-index: 11;
}

h1 {
    font-size: clamp(3rem,4vw,5rem);
}
.header-content {
    width: 90%;
    height: fit-content;
    background-color: #ffffff31;
    backdrop-filter: blur(8px); 
    text-align: center;
    flex-direction: column;
    padding: calc(var(--spacing) * 2);
    border-radius: 15px;
    align-items: center;
    p {
        font-size: clamp(16px,1.4vw,24px);
    }
}
@media(width > 640px){
    .header-content {
        width: 70%;
    }
}
@media(width > 1140px){
    .header-content {
        width: 50%;
    }
}
section {
    padding-inline: 15px;
}
@media(width > 1140px){
    section {
        padding-inline: 0;
    }
}
.container {max-width: 1140px}
.grid-cols-1 {grid-template-columns: repeat(1,1fr);}
.grid-cols-2 {grid-template-columns: repeat(2,1fr);}
.grid-cols-3 {grid-template-columns: repeat(3,1fr);}
.grid-cols-4 {grid-template-columns: repeat(4,1fr);}
.grid-cols-5 {grid-template-columns: repeat(5,1fr);}
.grid-cols-6 {grid-template-columns: repeat(6,1fr);}

@media(width > 640px){
    .md-grid-cols-1 {grid-template-columns: repeat(1,1fr);}
    .md-grid-cols-2 {grid-template-columns: repeat(2,1fr);}
    .md-grid-cols-3 {grid-template-columns: repeat(3,1fr);}
    .md-grid-cols-4 {grid-template-columns: repeat(4,1fr);}
    .md-grid-cols-5 {grid-template-columns: repeat(5,1fr);}
    .md-grid-cols-6 {grid-template-columns: repeat(6,1fr);}
}
@media(width > 1140px){
    .lg-grid-cols-1 {grid-template-columns: repeat(1,1fr);}
    .lg-grid-cols-2 {grid-template-columns: repeat(2,1fr);}
    .lg-grid-cols-3 {grid-template-columns: repeat(3,1fr);}
    .lg-grid-cols-4 {grid-template-columns: repeat(4,1fr);}
    .lg-grid-cols-5 {grid-template-columns: repeat(5,1fr);}
    .lg-grid-cols-6 {grid-template-columns: repeat(6,1fr);}
}

.btn {
    display: inline-block;
    border: 0;
    background-color: var(--light);
    color: var(--dark);
    padding: 8px 30px;
    border-radius: 8px;
}
.btn-red {
    background-color: var(--red);
    color: #fff;
    transition: 300ms;
    &:hover {
        background-color: var(--orange);
        color: var(--dark);
    }
}
.btn-blue {
    background-color: var(--blue);
    color: #fff;
    transition: 300ms;
    &:hover {
        background-color: var(--green);
        color: var(--dark);
    }
}
.btn-green {
    background-color: var(--green);
    color: #fff;
    transition: 300ms;
    &:hover {
        background-color: var(--red);
    }
}
#about { 
    margin-top: -5vw;
    clip-path: polygon(0 0,100% 0, 100% calc(100% - 5vw), 0 100%);
    padding-block: calc(150px + 5vw);
    background-color: var(--clr-primary);
    .item {
        align-items: start;
        p {
            line-height: 1.2rem;
        }
    }
    z-index: 10;
    
}

#blog {
    background-color: var(--light);
    padding-block:calc(150px + 5vw);
    clip-path: polygon(0 0,100% 0, 100% 100%, 0  calc(100% - 5vw));
    margin-top: -5vw;
    .blog-content {
        align-items: start;
        padding: var(--spacing);
    }
    .item {
        background-color: var(--clr-primary-light);
        /* border: 1px solid var(--dark); */
        border-radius: 12px;
        overflow: hidden;
    }
    .blog-img {
        clip-path:polygon(0 0, 100% 0, 100% 100% ,0 calc(100% - 1.5vw))
    }
    z-index: 9;
}
#folio {
    margin-top: -5vw;
    padding-block:calc(150px + 5vw);
    background-color: var(--clr-primary);
    clip-path: polygon(0 0, 100% 0, 100% calc(100% - 5vw), 0 100%);
    z-index: 8;

}
#service {
    margin-top: -5vw;
    padding-block:calc(150px + 5vw);
    background-color: var(--light);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 5vw));

    img {
        border-radius: 12px;
    }
    .service-content {
        justify-content: center;
        align-items: start;
    }
    .container {
        margin-bottom: calc(var(--spacing) * 2);
    }
    /* .container:nth-of-type(even){
        div:first-of-type {
            order:2;
        }
        div:last-of-type {
            order:1;
        }
    } */
    @media(width > 640px){
        .container:nth-of-type(even){
            div:first-of-type {
                order:2;
            }
            div:last-of-type {
                order:1;
            }
        }
    }
    z-index: 7;
}
#contact {
    padding-block: calc(100px + 5vw);
    .container {
        max-width: 600px;
    } 
}
.form-label {
    display: block;
    width: 100%;
    margin-bottom: 5px;
}
.form-control {
    display: block;
    width: 100%;
    padding: 8px;
    border-radius: 7px;
    border: 1px solid var(--dark);
    transition: 500ms;

    outline:0;
}
.form-control:focus {
    /* outline: 2px solid var(--orange) */
    border: 1px solid var(--green);
    background: var(--green);
}
textarea.form-control {
    height: 200px;
}

footer {
    justify-content: space-between;
    background-color: var(--dark);
    color: var(--light);
    padding: 20px var(--spacing);
}
